services:
  - type: web
    name: gem-auto-rentals-server
    env: node
    plan: free
    region: oregon 
    buildCommand: pnpm install && pnpm run db:generate && pnpm run build --filter=server
    startCommand: pnpm run start --filter=server
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: false
      - key: NODE_ENV
        value: production
      - key: WEB_URL
        value: https://gemrentalcars.com
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
